---
layout: default
title: Quotes
---

<div id="contact">
        <div class="container">
               
           <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
           </nav>
           
         
            <div class="section-title text-center">
                <h7>{{ page.title }}</h7>
                <hr>
            </div>
            
                    <div class="space"></div> 
                    <div class="space"></div> 
                    
{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}

{% for post in paginator.posts %}
<a href="{{ quotes.url }}">
                                <div class="hover-text">
                                </div>
                                <br>
                                <h12><center>{{quotes.content}}</center></h12>
                                <br>
                            </a>
                            <hr>
{% endfor %}

{% for quotes in paginator.site.categories.quotes reversed%}                    
                            <a href="{{ quotes.url }}">
                                <div class="hover-text">
                                </div>
                                <br>
                                <h12><center>{{quotes.content}}</center></h12>
                                <br>
                            </a>
                            <hr>
                {% endfor %}
                </div>
                </div>
</div>
</div>

 {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.siteurl }}/">&laquo; Prev</a>
      {% else %}
        <a href="{{ site.siteurl }}/page{{ paginator.previous_page }}/">&laquo; Prev</a>
      {% endif %}    
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class='next' href="{{ site.siteurl }}/page{{ paginator.next_page }}/">Next &raquo;</a>
    {% else %}
      <span class='next'>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>


<script src="{{ site.siteurl }}/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/js/jscroll/jquery.jscroll.js"></script>

<script type="text/javascript">
// content selector is used to extract the additional items 
$('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
});
</script>
