---
layout: default
title: Blog
---

<div id="contact">
        <div class="container">
               
           <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
           </nav>
           
         
            <div class="section-title text-center">
                <h7>{{ page.title }}</h7>
                <hr>
            </div>
            <div class="space"></div>
            
            {% for blog in site.categories.blog %}
  		{% assign loopindex = forloop.index | modulo: 2 %}
  			{% if loopindex == 1 %}
	 			<div>
      				<h7><a href="{{ blog.url }}">{{ blog.title }}</a></h7><br>
      				<h9>{{ blog.date | date_to_string }}</h9>
  			{% else %}
      				<h7><a href="{{ blog.url }}">{{ blog.title }}</a></h7>
      				<h9>{{ blog.date | date_to_string }}</h9>
    				</div>
  			{% endif %}
		{% endfor %}

<!--
	  {% for blog in site.categories.blog %}
	    <h7><a href="{{ blog.url }}" title="{{ blog.title }}">{{ blog.title }}</a></h7><br>
	    <h9>{{ blog.date | date_to_string }}</h9>
	  {% endfor %}

	<p></p>
-->            
        </div>
</div>
