---
layout: default
---

<div id="contact">
        <div class="container">
               
           <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
           </nav>
           
         
            <div class="section-title text-center">
                <h7>{{ page.title }}</h7>
                <hr>
            </div>
            
            <div class="space"></div>
            {% if quotes.cover %}
              <img src="{{ page.cover }}" style="height: 100%; width: 100%; object-fit: contain">
              <div class="space"></div>
            {% else %}
            {% endif %}
           
           <div class="row">
                <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-center">
                                        <h12>{{ content }}</h12>
                                </div>
                            </div>
                        </div>
                </div>            
           </div>
            
            <div class="space"></div>
            <br>
            <div class="section-title text-center">
                <h9><p class="meta">{{ page.date | date_to_string }}</p></h9>
            </div>
                </div>
            </div>
